* {
    user-select: none;
}

#container {
    position: absolute;
}

.move-button {
    border: 10px solid pink;
    border-radius: 2px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    color: pink;
    background: #2a474cb5;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#studiolouter-name {
    font-size: 40pt;
}

body{
    height: 100%;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}